<form [formGroup]="form">
  <ion-list>
    <ion-item fill="outline">
      <ion-label position="floating">Codigo: </ion-label>
      <ion-input inputmode="number" type="number" placeholder="Ingresar..." formControlName="idagendamientoCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.idagendamientoCtrl.touched">Ingrese el Codigo</ion-note>
    </ion-item>

    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">Paciente</ion-label>
      <ion-select formControlName="pacienteciCtrl">
      <ion-select-option>Juan Perez</ion-select-option>
        <ion-select-option>Ana Diaz</ion-select-option>
      </ion-select>
      <ion-note slot="error"*ngIf="form.controls.idagendamientoCtrl.touched">Seleccione un agendamiento</ion-note>
    </ion-item>

    
      <ion-select-option *ngFor="let agendamiento of listaAgendamiento" 
        [value]="agendamiento.idagendamiento">{{agendamiento.paciente}}
      </ion-select-option>


    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">Doctor</ion-label>
      <ion-select formControlName="pacienteciCtrl">
        <!--<ion-select-option *ngFor="let agendamiento of listaAgendamiento" 
        [value]="agendamiento.idagendamiento">{{agendamiento.fechaagendamiento}}</ion-select-option>-->
        <ion-select-option>Doctor Fulano</ion-select-option>
        <ion-select-option>Doctor Mengano</ion-select-option>
      </ion-select>
      <ion-note slot="error"*ngIf="form.controls.idagendamientoCtrl.touched">Seleccione un agendamiento</ion-note>
    </ion-item>


  </ion-list>

  <ion-button expand="full" (click)="guardar()">
    <ion-icon name="save" slot="start"></ion-icon>
    Guardar
  </ion-button>
</form>