<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ciudad</ion-title>
    <ion-progress-bar *ngIf="cargandoCiudad" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
  <ion-fab-button (click)="nuevo()"> 
    <ion-icon name="add"></ion-icon>
  </ion-fab-button> 
  </ion-fab>
  <ion-refresher slot="fixed" (ionRefresh)="cargarCiudad()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor=" let ciudadf listaCiudad">
      <ion-item button (click)="editar(ciudad)">
        <ion-note slot="start">{{ciudad.id}}</ion-note>
        <ion-label>
          <h1>{{ciudad.nombre}</h1>
        
        </ion-label>
        <ion-badge color="medium" slot="end">{{ciudad.nombre}} pag.</ion-badge>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash" (click)="ConfirmarEliminacion(ciudad)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>
  <ion-modal [isOpen]="modalVisible"(didDismiss)="modalVisible = false"(didPresent)="cargarDatosEditar()">
    <ng-template>

      <ion-header>
        <ion-toolbar>
        <ion-title>{{modoFormulario}} Ciudad</ion-title>
          <ion-buttons slot="end"(click)="modalVisible=false">
            <ion-button>Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div style="padding: 10px;">
          <app-formulario-ciudad (recargar)="cargarCiudad()"></app-formulario-ciudad>
        </div>
      </ion-content>
    </ng-template>
</ion-modal>
</ion-content>
