<ion-header>
    <ion-img class="cabecera" src="assets/logohospitsl.jpg"></ion-img>
    <ion-toolbar>


        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>

    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <div id="container">
    </div>

    <ion-content padding>
        <ion-card>
            <ion-card-content>

                <ion-grid>
                    <ion-row>
                        <ion-col size="12" size-sm="12">
                            <div class="content-faa">






                                <ion-slides pager="true" [options]="slideOpts">
                                    <ion-slide>
                                        <ion-img class="imagenportada" src="assets/HospiO.jpg"></ion-img>
                                    </ion-slide>
                                    <ion-slide>
                                        <ion-img class="imagenportada" src="assets/HospiOv.jpg"></ion-img>
                                    </ion-slide>
                                    <ion-slide>
                                        <ion-img class="imagenportada" src="assets/HospiO.jpg"></ion-img>
                                    </ion-slide>
                                </ion-slides>

                                <!--<ion-img class="imagenportada" src="assets/HospiO.jpg"></ion-img>
                                <h1>Hospital Regional de Coronel Oviedo</h1>
                            </div>
                        </ion-col>
                        
                        <ion-col size="12" size-sm="12">
                            <div class="content-faa">
                                
                                <ion-img class="imagenportada" src="assets/HospiOv.jpg"></ion-img>
                                <h1>¿Dónde puedo consultar y tener una respuesta?</h1>-->
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>









            </ion-card-content>

            <ion-footer>
                <!--<div class="contenedor-ion-footer">-->
                <ion-grid class="grilla-pie">
                    <ion-row class="ion-justify-content-center">
                        <ion-col size="12" size-md="4" class="content-foo">

                            <div class="titulo-pie">Contactanos</div>

                            <div class="content">
                                <div>Eugenio A. Garay - Cnel.Oviedo</div>
                                <div>0521 200 033</div>
                            </div>

                        </ion-col>
                        <ion-col size="12" size-md="4" class="content-foo">

                            <div class="titulo-pie">Información</div>

                            <div class="content">
                                <div>Ambulancia SEME - 141</div>
                                <div>Hospital de trauma - (0521)204 800</div>
                                <div>Instituto de Cardiologia - (021)292 532</div>
                                <div>Diabetologia (0986)783248</div>
                            </div>
                        </ion-col>
                        <ion-col size="12" size-md="4" class="content-foo">

                            <div class="titulo-pie">Siguenos</div>

                            <div class="content">


                                <div><a href="https://www.paho.org/es/paraguay" ion-button>Organización Panamericana de
                                        la Salud</a></div>
                                <div><a href="https://www.who.int/es" ion-button>Organización Mundial de la Salud</a>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>



                <!--</div>-->
                <h2 class="titulo-final">&copy; Página web oficial del Hospital Regional de Coronel Oviedo</h2>
            </ion-footer>

        </ion-card>
    </ion-content>