<ion-header>
    <ion-img class="cabecera" src="assets/logohospitsl.jpg"></ion-img>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides class="slider" pager="true" [options]="slideOpts">
        <ion-slide>
            <div class="contenedor-banner">
                <ion-img class="imagenportada" src="assets/hospital1.jpeg"></ion-img>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="contenedor-banner">
                <ion-img class="imagenportada" src="assets/agendamientos.jpg"></ion-img>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="contenedor-banner">
                <ion-img class="imagenportada" src="assets/diabetes.jpg"></ion-img>
            </div>
        </ion-slide>
    </ion-slides>


    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class="alturatarjeta">
                    <ion-card-header>
                        <ion-card-title>CAMPAÑA DE SALUD</ion-card-title>
                        <ion-card-subtitle>
                            <ion-slide>
                                <ion-img class="imagenprueba" src="assets/bienestar.jpg"></ion-img>
                            </ion-slide>
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <div><a href="https://www.mspbs.gov.py/octubre-rosa.html" ion-button>Octubre Rosa</a></div>
                    </ion-card-content>
                    <ion-card-content>
                        <div><a href="https://www.mspbs.gov.py/lactancia-materna.html" ion-button>Semana Nacional de
                                Lactancia Materna</a></div>
                    </ion-card-content>
                    <ion-card-content>
                        <div><a href="https://www.mspbs.gov.py/dengue-zika-chikungunya.html"
                                ion-button>dengue-zika-chikungunya</a>
                        </div>
                    </ion-card-content>
                    <ion-card-content>
                        <div><a href="https://incan.mspbs.gov.py/guias/" ion-button>Guia de Diagnostico y Tratamiento
                                del Cancer de Mama</a></div>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col>
                <ion-card class="alturatarjeta">
                    <ion-card-header>
                        <ion-card-title>CALENDARIO DE VACUNAS</ion-card-title>
                        <ion-card-subtitle>
                            <ion-slide>
                                <ion-img class="" src="assets/mas-vacuna.jpg"></ion-img>
                            </ion-slide>
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <div><a href="https://www.mspbs.gov.py/pai-sobre-las-vacunas.html" ion-button>¿Qué vacuna debo
                                tener?</a></div>
                    </ion-card-content>
                    <ion-card-content>
                        <div><a href="https://www.mspbs.gov.py/libreta-vacunacion-digital.html" ion-button>Libreta
                                Digital de Vacunación</a></div>
                    </ion-card-content>
                    <ion-card-content>
                        <div><a href="https://www.vacunate.gov.py/" ion-button>Centros de Vacunación - Influenza</a>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>


            <ion-col>
                <ion-card class="alturatarjeta">
                    <ion-card-header>
                        <ion-card-title>TRÁMITES Y SERVICIOS</ion-card-title>
                        <ion-card-subtitle>
                            <ion-slide>
                                <ion-img class="" src="assets/sau.jpg"></ion-img>
                            </ion-slide>

                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <div><a href="https://www.mspbs.gov.py/pagos.html" ion-button>Renovación de
                                Registros - Certificados de Reposos - Lactancia materna- Certificados de Salud</a></div>
                    </ion-card-content>
                    <ion-card-content>
                        <div><a href="https://www.mspbs.gov.py/proveedores-empresa.html" ion-button>Proveedores</a>
                        </div>
                    </ion-card-content>
                    <div><a href="https://www.mspbs.gov.py/dnvs" ion-button>Vigilancia Sanitaria</a></div>
                </ion-card>
            </ion-col>


            <ion-col>
                <ion-card class="alturatarjeta">
                    <ion-card-header>
                        <ion-card-title>ATENCIÓN AL CLIENTE</ion-card-title>
                        <ion-card-subtitle>
                            <ion-slide>
                                <ion-img class="" src="assets/tramites.jpg"></ion-img>
                            </ion-slide>
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <div><a href="https://www.mspbs.gov.py/atencion-usuario.html" ion-button>Denuncias y
                                Reclamos</a></div>
                    </ion-card-content>
                    <ion-card-content>
                        <div><a href="http://dgvs.mspbs.gov.py/page/#viajeros.html" ion-button>Salud del Viajero</a>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid style="width: 100%;">
        <ion-row class="fila-pie">
            <ion-col>
                <ion-grid class="grilla-pie">
                    <ion-row class="ion-justify-content-center">
                        <ion-col size="12" size-md="4" class="content-foo">

                            <div class="titulo-pie">Contactanos</div>

                            <div class="content">
                                <div>Eugenio A. Garay - Cnel.Oviedo</div>
                                <div>0521 200 033</div>
                            </div>

                        </ion-col>
                        <ion-col size="12" size-md="4" class="content-foo">

                            <div class="titulo-pie">Información</div>

                            <div class="content">
                                <div>Ambulancia SEME - 141</div>
                                <div>Hospital de trauma - (0521)204 800</div>
                                <div>Instituto de Cardiologia - (021)292 532</div>
                                <div>Diabetologia (0986)783248</div>
                            </div>
                        </ion-col>
                        <ion-col size="12" size-md="4" class="content-foo">

                            <div class="titulo-pie">Siguenos</div>

                            <div class="content">


                                <div><a href="https://www.paho.org/es/paraguay" ion-button>Organización Panamericana de
                                        la Salud</a></div>
                                <div><a href="https://www.who.int/es" ion-button>Organización Mundial de la Salud</a>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>



                <!--</div>-->
                <h2 class="titulo-final">&copy; Página web oficial del Hospital Regional de Coronel Oviedo</h2>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

